<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Tide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="media/home.css">
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="js/main.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="body">
  
	<div ng-controller="ChatCtrl" class="container">
		<div class="msg-box col-md-6">
			
			<div class="msg-list">
				<ul>
					<li ng-repeat="message in messages"><strong>{{message.user}}: </strong> {{message.text}}</li>
				</ul>
			</div>
			
			
			<div class="msg-input">
				<form ng-submit="sendMessage()">
					<input type="text" ng-model="messageText" placeholder="Message goes here..." />
					
					<input type="submit" value="Send" />
				</form>
			</div>
		</div>
		
		<div>
			<div class="tide-box col-md-5">
				<form ng-submit="setName">
					<input type="text" ng-model="username" placeholder="Enter your name.">
					<input type="submit" value="Set" />					
				</form>
			</div>
			
			<div class="preview-box col-md-5">
				<p> Here is a content preview. </p>
			</div>
		</div>
	</div>
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  </body>
</html>