body {
    color: #333;
}
a {
    text-decoration: none;
    color: #1b98f8;
}

/* LAYOUT CSS */
#layout {
    padding-left:500px; /* "left col (nav + list)" width */
    position: relative;
}

#nav, #list {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
}
#nav {
    margin-left:-500px; /* "left col (nav + list)" width */
    width:150px;
    background: rgb(37, 42, 58);
    text-align: center;
    padding: 1em 0;
}

#list {
    margin-left: -350px;
    width:350px;
    border-right: 1px solid #ddd;
}

/* HELPER CLASSES */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}



/* Vertical Navigation Styles */
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}

	#nav #logo {
		width: 100%;
	}
    #nav .pure-menu a:hover,
    #nav .pure-menu a:focus {
        background: rgb(55, 60, 90);
    }
    #nav .pure-menu a {
        color: #fff;
        margin-left: 0.5em;
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }

    #nav .nav-menu-button {
        display: none;
    }

    .message-count {
        color: rgb(75, 113, 151);
    }

/* Email Item Styles */
.message-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
    cursor: pointer;
}
    .email-avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }
    .message-name,
    .message-subject {
        margin: 0;
    }
    .message-name {
        text-transform: uppercase;
        color: #999;
    }
    .message-desc {
        font-size: 80%;
        margin: 0.4em 0;
    }

.message-selected {
    background: #eee;
}
.message-unread {
    border-left: 6px solid #02a3c6;
}

/* Email Content Styles */
.message-content-header, .message-content-body, .message-content-footer {
    padding: 1em 2em;
}
    .message-content-header {
        border-bottom: 1px solid #ddd;
    }

        .message-content-title {
            margin: 0.5em 0 0;
        }
        .message-content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
            .message-content-subtitle span {
                color: #999;
            }
    .message-content-controls {
        margin-top: 2em;
        text-align: right;
    }
        .message-content-controls .secondary-button {
            margin-bottom: 0.3em;
        }


@media (max-width: 867px) {

    #list,
    #main {
        width: 100%;
    }
    #layout {
        padding-left: -150px;
    }
    #list {
        height: 33%;
        border-right: 0;
        border-bottom: 1px solid #ddd;
    }
    #main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 0;
        left: 150px;
        overflow: auto;
        height: 80%;
        width: auto; /* so that it's not 100% */
    }
}

@media (max-width: 480px) {
    #layout, #nav, #list, #main {
        position: static;
        margin: 0;
        padding: 0;
    }
    #nav {
        width: 100%;
        height: 40px;
        position: relative;
    }
    #nav .nav-menu-button {
        display: block;
        top: 0.5em;
        right: 0.5em;
        position: absolute;
    }
    #nav.active {
        height: 80%;
    }
    .nav-inner {
        display: none;
    }
    #nav.active .nav-inner {
        display: block;
    }
    .email-avatar {
        width: 40px;
        height: 40px;
    }
}

.chatbox {
	width: 400px;
}


/*
Chat speech bubble
*/
.chaticon {
	font-size: 2em;
	position: absolute;
}

.message-timestamp {
	position: absolute;
	font-size: .8em;
	color: #727272;
	top: 40%;
}

.triangle-border.left .chaticon {
	left: -55px;
	top: 5px;
}

.triangle-border.right .chaticon {
	right: -55px;
	top: 5px;
	
}

.triangle-border.right .message-timestamp {
	left: -60px;
}

.triangle-border.left .message-timestamp {
	right: -60px;
}

.triangle-border {
	position:relative;
	padding:15px;
	margin:0em 0 1.0em;
	margin-left: 30px;
	border:5px solid #5a8f00;
	color:#333;
	background:#fff;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	width: 75%;
}

.triangle-border.left {
	margin-left: 30px;
}

.triangle-border.right {
	margin-right:30px;
}

.triangle-border:before {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:40px; /* controls horizontal position */
    border-width:20px 20px 0;
	border-style:solid;
    border-color:#5a8f00 transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
	content:"";
	position:absolute;
	bottom:-13px; /* value = - border-top-width - border-bottom-width */
	left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	border-width:13px 13px 0;
	border-style:solid;
	border-color:#fff transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* creates the larger triangle */
.triangle-border.left:before {
	top:10px; /* controls vertical position */
	bottom:auto;
	left:-30px; /* value = - border-left-width - border-right-width */
	border-width:15px 30px 15px 0;
	border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
	top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
	left:-21px; /* value = - border-left-width - border-right-width */
	border-width:9px 21px 9px 0;
	border-color:transparent #fff;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
	top:10px; /* controls vertical position */
	bottom:auto;
    left:auto;
	right:-30px; /* value = - border-left-width - border-right-width */
	border-width:15px 0 15px 30px;
	border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
	top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
	bottom:auto;
    left:auto;
	right:-21px; /* value = - border-left-width - border-right-width */
	border-width:9px 0 9px 21px;
	border-color:transparent #fff;
}

/*********
Font
*********/
.helvetica {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}


