<div class="pure-u-1" id="main">
        <div class="message-content">
            <div class="message-content-header pure-g">
                <div class="pure-u-1-2">
                    <h1 class="message-content-title">{{ currentChannel || "No channel has been set. "}}</h1>
                    <!--
                    <p class="message-content-subtitle">
                        From <a>Tilo Mitra</a> at <span>3:56pm, April 3, 2012</span>
                    </p>-->
                </div>

                <div class="pure-u-1-2 message-content-controls">
                    <form>
                    	<input type="text" ng-model="currentUser" placeholder="Enter your username" />
                    </form>
                </div>
            </div>

            <div id="chatarea" class="message-content-body">
            	<h4 ng-show="chats.length == 0" id="no-messages-warning">There's no messages here :(. Be a leader and send one!</h4>
                <p ng-repeat="chat in chats" ng-class-odd="'left'" ng-class-even="'right'" class="message-bubble triangle-border">
                	<span class="helvetica chaticon">{{ chat.user | capitalized }}</span>
                    {{ chat.content }}
                    <span class="helvetica message-timestamp">{{ chat.createdAt | formatIsoTime }}</span>
                </p>
                <div class="clearfix">
            </div>
        </div>
        <form class="pure-form chat" ng-submit="onPostChat()">
                	<textarea rows="3" placeholder="Enter message here..." ng-model="chatbox" class="pure-form-aligned chatbox"></textarea>
                	<button type="submit" class="pure-button" ng-disabled="submitDisabled()">Send</button>
            </form>
    </div>